@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Sample application for <a href="https://developer.signicat.com/express/docs/identification/" target="_blank">Signicat Express Authentication</a> using OpenID Connect.</p>
</div>