@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 style="font-weight: 500; font-size: clamp(2.8125rem,4vw,3.9375rem);
                                                     line-height: clamp(3.125rem,3.6vw,3.75rem);
                                                     letter-spacing: -.01em;" class="display-4 homepage_header">Welcome</h1>
    <p style="color: #2a0062; font-weight: 400; font-size: 1.6875rem; line-height: 2.25rem; letter-spacing: normal;">Sample application for <a href="https://developer.signicat.com/express/docs/identification/" target="_blank">Signicat Express Authentication</a> using OpenID Connect.</p>
    <img style="height: 600px" src="images/Express%20API.png" alt="express image"/>
</div>